<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Talking lamp
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title >TALKING LAMPIÃO</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="background">
    <div id="container">
      <ion-card style="padding-top: 1rem;padding-bottom: 1rem; background-color: #e89860;">
        <strong style="color:white">TALKING LAMPIÃO</strong>
        <ion-row class="row" style="padding-top: 1rem;">
          <ion-button fill="outline" (click)="play()">Jogar</ion-button>
        </ion-row>
        <ion-row class="row">
          <ion-button fill="outline" (click)="galery()" >Galeria</ion-button>
        </ion-row>
      </ion-card>
    </div>
  </div>
</ion-content>
